{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <div class="card mx auto shadow">
        <div class="row justify-content-center py-4">
            <div class=" col-12 col-sm-11">
                <div class="card mx-auto shadow mt-1">
                    <h4 class="card-header text-center bg-warning"><strong>Entrez les nouvelles informations dans les
                            champs à modifier</strong></h4>
                    <h4 class="card-header text-center"><strong>Votre critique actuelle</strong></h4>
                    <div class="card-body">
                        <form role="form" action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-7 col-lg-5">
                                    <label class="mt-3" for="rating"><strong>Votre précédente note :</strong></label>
                                    <input class="form-control" id="{{ adjust_review_form.rating.id_for_label }}"
                                        name="{{ adjust_review_form.rating.html_name }}" type="number"
                                         min="0" max="5"
                                        value="{{ review.rating }}" placeholder="Votre en-tête..."/>
                                    {% if adjust_review_form.errors %}
                                    {% for error in adjust_review_form.rating.errors %}
                                    <div class="list-group-item-danger text-black">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <label class="mt-4" for="headline"><strong>Votre précédent en-tête :</strong></label>
                            <input class="form-control" id="{{ adjust_review_form.headline.id_for_label }}"
                                name="{{ adjust_review_form.headline.html_name }}" type="text" placeholder="Votre note..." value="{{ review.headline }}"/>
                            {% if adjust_review_form.errors %}
                            {% for error in adjust_review_form.headline.errors %}
                            <div class="list-group-item-danger text-black">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% if review.body %}
                            <label class="mt-4" for="body"><strong>Votre précédent avis :</strong></label>
                            <textarea class="form-control text-black mb-3" id="{{ adjust_review_form.body.id_for_label }}" rows="4"
                                name="{{ adjust_review_form.body.html_name }}" placeholder="Votre avis...">{{ review.body }}</textarea>
                            {% if adjust_review_form.errors %}
                            {% for error in adjust_review_form.body.errors %}
                            <div class="list-group-item-danger text-black">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% else %}
                            <label class="mt-4" for="body"><strong>Ajouter un avis (facultatif):</strong></label>
                            <textarea class="form-control text-black mb-3" id="{{ adjust_review_form.body.id_for_label }}" rows="4"
                                name="{{ adjust_review_form.body.html_name }}" placeholder="Votre avis...">{{ review.body }}</textarea>
                            {% if adjust_review_form.errors %}
                            {% for error in adjust_review_form.body.errors %}
                            <div class="list-group-item-danger text-black">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endif %}
                            <div class="col-11 mx-auto pt-4">
                                <div class="card mx-auto shadow">
                                    {% if review.ticket.user == request.user %}
                                    <h5 class="card-header"><strong>Votre ticket</strong></h5>
                                    <h6 class="card-header text-muted pb-2">{{ review.time_created }}</h6>
                                    {% else %}
                                    <h5 class="card-header"><strong>Critique demandée par {{ review.ticket.user|title }}</strong>
                                    </h5>
                                    <h6 class="card-header text-muted pb-2">{{ review.time_created }}</h6>
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title text-center">{{ review.ticket.title|title }}</h5>
                                        <div class="row">
                                            <div class="col text-center">
                                                {% if review.ticket.description %}
                                                {% if review.ticket.user == request.user %}
                                                <h5>Votre mot :</h5>
                                                <p class="card-text mb-3">{{ review.ticket.description }}</p>
                                                {% else %}
                                                <h5>Mot de {{ review.ticket.user|title }} :</h5>
                                                <p class="card-text mb-3">{{ review.ticket.description }}</p>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                            {% if review.ticket.image %}
                                            <div class="d-flex justify-content-center">
                                                <img class="img-fluid pt-2 pb-3" src="{{ review.ticket.image.url }}"
                                                    alt="illustration for {{ review.ticket.title }}">
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="review_to_pass" value="{{ review.id }}">
                            <div class="row justify-content-center">
                                <div class=" col-12 col-sm-11 col-md-9 col-lg-7">
                                    <div class="row pt-2 px-1">
                                        <button type="submit" class="btn btn-success mt-3"
                                            name='adjust_review_validate'><strong>Publier</strong></button>
                                    </div>
                                    <div class="row py-2 px-1">
                                        <button onclick=window.location.href="{% url 'login' %}"
                                            class="btn btn-secondary text-white my-2"
                                            value="go to login"><strong>Retour</strong></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}