{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <title>LitReview</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel='icon' href="{% static 'image/litreview.png' %}" type='image/x-icon' sizes="30x30" />
</head>

<body>
    {% if user.is_authenticated %}
    <div id="navbarNavAltMarkup"
        class="navbar sticky-top bg-gradient bg-secondary collapse navbar-collapse justify-content-center show">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#{% url 'home' %}"><strong>Flux</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Post</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><strong>Abonnements</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="{% url 'logout' %}"><strong>Se Déconnecter</strong></a>
            </li>
        </ul>
    </div>
    {% else %}
    <div class="bg-gradient bg-secondary collapse navbar-collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col py-4">
                    <h4 class="text-white">Bienvenue</h4>
                    <p class="text-black">LitReview est votre platforme pour échanger des avis et critiques sur vos
                        oeuvres
                        litéraires préférées mais également pour découvrir les univers des autres utilisateurs.<br />
                        Postez, commentez et demandez des avis argumentés sur LitReview.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <nav class="navbar navbar-dark flex">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <img src="{% static 'image/litreview.png' %}" width="100" height="110" alt="Site logo"
                class="d-none d-sm-block">
            <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
                <h1><strong>LitReview</strong></h1>
                <img src="{% static 'image/pencil.svg' %}" alt="pencil logo" width="40" height="50"
                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" class="mr-2">
            </a>
            <button class="navbar-toggler d-none d-sm-block" type="button" data-toggle="collapse"
                data-target=#navbarNavAltMarkup>

                <span class="navbar-toggler-icon"></span>

            </button>
        </div>

    </nav>
    <section>
        {% block content %}{% endblock content %}
    </section>
    <footer class="page-footer">
        <div class="footer-copyright text-center bg-light py-4">
            {% if user.is_authenticated %}
            <p>Vous êtes connecté en tant que <strong>"{{ request.user|title }}"</strong>.<a class="nav-link" id="logout_2"
                    href="{% url 'logout' %}"><strong>Déconnexion</strong></a></p>
            {% endif %}
            <p class="text-muted mb-0 py-1">© 2021 LitReview</p>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- End -->
</body>
</html>